html, body { 
    
width: 100%;
height: 100%;
overflow-x: hidden;

}

.flexheader{
    
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height:100vh;
background-image: url(../image/island.svg);
background-size: cover;
position: relative;

 
}

.windmillcontainer{
    
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative; 
top:10%;
    
}

.island{
    
display: flex;
width:45%;
position: relative;
z-index:4;

}

.windmill{
    
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
width:15%;
top:-1%;
left:43.9%;
z-index:5;
-webkit-animation: windmill 4s infinite linear;
    -moz-animation: windmill 4s infinite linear;
    -o-animation: windmill 4s infinite linear;
    -ms-animation: windmill 4s infinite linear;
    animation: windmill 4s infinite linear;
    position: absolute;
}

@-webkit-keyframes windmill {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes windmill {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes windmill {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes windmill {
    0% {
        -ms-transform: rotate(0deg);
    }
    100% {
        -ms-transformform: rotate(360deg);
    }
}


.portrait{
    
display: flex;
width:10%;
bottom:20px;
position: relative;

}

.bodycontainer{
    
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
min-height:100vh;
background-image: url(../image/cloudbanner.png);
background-size: 100%;
position: relative; 
z-index:1;
padding-bottom:18.5%;
background-color: #88D5E5;
    
    
}

.flexbody{
    
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
position: relative;
margin-bottom:8%; 

} 

header{
  
display: -webkit-flex;
display: flex;
position: absolute; 
width:100vw;
z-index:1;
font-family: 'Montserrat', sans-serif

    
}

#wrappernav {
    height: 60px;
    width: 100%;
    display: block;
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.navbar {
    font-size: 1em;
    font-family: 'Montserrat';
}

.navbar.trans {
    background: transparent !important;
}

.navbar li {
    padding: 0;
    letter-spacing: 0.3em;
    display: inline;
}

.navbar a {
    display: inline-block;
    padding: 0px;
    color: black;
    text-decoration: none;
    padding: 0px 170px;
}

.navbar a:hover {
    color: #EC313C;
}

ul{
    
display: flex;
align-items: center;
justify-content: center;
right:2%;
text-align: center;
position: relative;   
list-style-type:none;   
text-decoration: none;
    
} 

p{

font-size:1.5em;
font-family: 'Noto Serif', serif;
width:30%;
color: #545454;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
text-align: center;
z-index:1; 
    
}

.p2{

font-size:1.5em;
font-family: 'Noto Serif', serif;
width:30%; 
color: #545454;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
text-align: center;
z-index:1; 
    
}

h1{

font-size:3em;
font-family: 'Montserrat', sans-serif;
color: #45b29a;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
z-index:1; 
    
}

hr{
    
width:5%;
opacity: 0.5;
border-color:#545454;
    
}

.contactcontainer{
    
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: #88D5E5;
background-size: cover;
position: relative;
height:100vh;

}

.contactcontainer2{
    
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: white;
background-size: cover;
position: relative;
height:100vh;

}

#flexcontact{
    
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
position: relative;
    
}

.contactp{

font-size:1.5em;
font-family: 'Noto Serif', serif;
width:50%;
color: #545454;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
text-align: center;
    
}

.contactp2{

font-size:1.5em;
font-family: 'Noto Serif', serif;
width:50%; 
color: #545454;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
text-align: center;
line-height: 1.3em;
}

h2{

font-size:4em;
font-family: 'Montserrat', sans-serif;
color: #45b29a;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
    
}

.overlay{
    
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
top:-15%;
height:1020px;
position: absolute;
z-index:0;


}

#button{
    
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin-top:5%;
width:400px;
position: relative;

}

#buttona{
    
display: flex;
align-items: center;
justify-content: center;

}


#buttona:hover{
      
opacity: 0.5; 
transition: opacity .25s ease-in-out;
-moz-transition: opacity .25s ease-in-out;
-webkit-transition: opacity .25s ease-in-out
    
}

/* Work */

.workheader{
    
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;  
background-color: white;
min-height:40%;
min-width:100%
    
}

.portfolio1{
    
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;  
background-color: #f76160;
min-height:100vh;

}

.portfolio2{
    
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;  
background-color: #679895;
min-height:100vh;

}


.circle {
	width: 10px;
	height: 10px;
	background:#45b29a;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    bottom:1%;
    position:relative;
}

.work{

font-size:1.4em;
font-family: 'Noto Serif', serif;
min-width:30%;
color: #545454;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
text-align: center;
z-index:1; 
    
}

h4{

font-size:2.5em;
font-family: 'Montserrat', sans-serif;
color: white;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
    
}

h3{

font-size:1.6em;
font-family: 'Montserrat', serif;
color: white;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
bottom:50px;
position:relative;
    
}

.workdescription{
    
font-size:1.2em;
font-family: 'Rokkitt', serif;
color: white;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
bottom:50px;
position:relative;
line-height: 1.2em;
    
}

.thepowerofvideo, .elementstable{
    
min-width:35%;    
    
}

.button {
    background-color: #374760; 
    border: none;
    color: white;
    padding: 15px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top:-13.5%;
    margin-bottom: 38.5%;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-family: 'Montserrat', sans-serif;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 5px solid #374760;
}

.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.1),0 17px 50px 0 rgba(0,0,0,0.1);
}

/* The Power of Video */

.povheader{
    
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;  
background-color: white;
min-height:40%;
min-width:100%
    
}

.pov{
    
min-width:100%; 
position: relative;
bottom:2%;
    
}

.mascot{
    
min-width:100%; 
position: relative;
bottom:2%;
    
}

.povcontent{
    
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;  
background-color: #f76160;
min-height:100vh;

}

.povcontent1{
    
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;  
background-color: #f76160;
min-height:50vh;

}

.povcontent1{
    
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;  
background-color: #f76160;
min-height:50vh;

}

.povtext{
    
color:#f76160    
    
}

.povdescription{
    
font-size:1.5em;
font-family: 'Rokkitt', serif;
color: white;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
bottom:50px;
position:relative;
line-height: 1.2em;
min-width:50%;
    
}

.gridmiddle{
    
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;    
    
}

.grid{
    
min-width:100%;    
    
}

.prototype{

font-size:3em;
font-family: 'Montserrat', sans-serif;
color: white;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
margin-bottom:4%;
    
}

.povheader { 
       /* The image used */
    background-image: url("../image/povparallax.png");
    background-size: cover;
    min-min-height:50%;
    z-index:-1;
    opacity:0.9%;
    
}

/* Elements Website */

.ewheader{
    
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;  
background-color: white;
min-height:40%;
min-width:100%
    
}

.ew{
    
min-width:100%; 
min-height:105%;
position: relative;
    
}

.codess{
    
min-width:100%; 
position: relative;
    
}

.ewcontent{
    
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;  
background-color: #679895;
min-height:100vh;

}

.ewcontent1{
    
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;  
background-color: #679895;
min-height:50vh;

}

.ewdescription{
    
font-size:1.5em;
font-family: 'Rokkitt', serif;
color: white;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
bottom:50px;
position:relative;
line-height: 1.2em;
min-width:50%;
    
}

.gridmiddle{
    
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;    
    
}

.grid{
    
min-width:100%;    
    
}

.elements{

font-size:3em;
font-family: 'Montserrat', sans-serif;
color: #679895;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
margin-bottom:4%;
    
}

.ewheader { 
    /* The image used */
    background-image: url("../image/ewparallax.png");
    background-size: cover;
    min-height:50%;
    z-index:-1;
    opacity:0.9%;
    
}

/* blog */

.blogcontainer{
    
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
min-height:100vh; 
margin-top:5%;
    
}

.blogtext{
    
width:50%; 
font-size: 3em;
    
}

.blogtext2{
    
width:55%; 
font-size: 1.5em;
text-align: left;
line-height: 1.5em;
margin-left:5%;
    
}

.bloghr{

min-width:50%;
    
}

.blog1row{
    
display: flex;
align-items: center;
justify-content: center;
min-height:55%;
width:50%;

}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
      
html, body { 
    
width: 100%;
height: 100%;
overflow-x: hidden;
background-color: #88D5E5;

}

.flexheader{
    
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height:100vh;
background-image: url(../image/island.svg);
background-size: cover;
position: relative;

 
}

.windmillcontainer{
    
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative; 
top:10%;
    
}

.island{
    
display: flex;
width:75%;
position: relative;
z-index:4;

}

.windmill{
    
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
width:25%;
top:-1%;
left:39.5%;
z-index:5;
-webkit-animation: windmill 4s infinite linear;
    -moz-animation: windmill 4s infinite linear;
    -o-animation: windmill 4s infinite linear;
    -ms-animation: windmill 4s infinite linear;
    animation: windmill 4s infinite linear;
    position: absolute;
}

@-webkit-keyframes windmill {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes windmill {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes windmill {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes windmill {
    0% {
        -ms-transform: rotate(0deg);
    }
    100% {
        -ms-transformform: rotate(360deg);
    }
}


.portrait{
    
display: flex;
width:40%;
bottom:50px;
position: relative;

}

.bodycontainer{
    
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
height:100vh;
background-image: url(../image/cloudbanner.svg);
background-size: 120vh;
position: relative; 
background-repeat: no-repeat;
z-index:1;
padding-bottom:10%;
background-color: #88D5E5;
bottom:100px;
    
    
}

#wrappernav {
    height: 60px;
    width: 100%;
    display: block;
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.navbar {
    font-size: 1em;
    font-family: 'Montserrat';
}

.navbar.trans {
    background: transparent !important;
}

.navbar li {
    padding: 0;
    letter-spacing: 0.3em;
    display: inline;
}

.navbar a {
    display: inline-block;
    padding: 0px;
    color: black;
    text-decoration: none;
    padding: 0px 10px;
}

.navbar a:hover {
    color: #EC313C;
}


p{

font-size:1em;
font-family: 'Noto Serif', serif;
width:80%;
color: #545454;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
text-align: center;
z-index:1; 
    
}

.p2{

font-size:1em;
font-family: 'Noto Serif', serif;
width:80%; 
color: #545454;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
text-align: center;
z-index:1; 
    
}

h1{

font-size:3em;
font-family: 'Montserrat', sans-serif;
color: #45b29a;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
z-index:1; 
margin-top:-5px;
    
}

hr{
    
width:80%;
opacity: 0.5;
border-color:#545454;
    
}

.contactcontainer{
    
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: #88D5E5;
background-size: cover;
position: relative;
height:100vh;

}

#button{
    
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin-top:5%;
width:300px;
position: relative;
padding-bottom:10%;

}

}
