<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/normalize.css">
     <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Lora|Montserrat|Open+Sans|PT+Sans|Roboto|Source+Sans+Pro|Noto+Serif|Droid+Serif" rel="stylesheet">

    <title>Portfolio - Andrew McCaughey</title>
</head>

<body>

       <div id="wrappernav">

            <ul class="navbar">
                <li><a href="index.html">HOME</a></li>
                <li><a href="blog.html">BLOG</a></li>
                <li><a href="work.html">WORK</a></li>
                <li><a href="#flexcontact">LETS CHAT</a></li>
            </ul>

        </div>
        
{{ content }}